.bottom-title{
    font-size: 1.8rem;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
.bottom{
    display: flex;
    flex-direction: column;
    row-gap: 1%;
    justify-content: flex-start;
    /* background-color:red; */
}
.fields{
    display:flex;
    flex-direction: 'column';
    row-gap: 2%;
    background-color: 'red';
}
.input{
    border-color: 'grey';
    border-bottom: 2px;
}