.comments-box{
    width: 80vw;
    height: fit-content;
    border: 1px solid black;
}
.comment-inner-box{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    padding: 4% 14%;
    padding-bottom: 2%;
}
.comment-title-box{
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
}
.comment-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.3rem;
    font-style: oblique;
}
.comment-line{
    width: 100%;
    border-top: 1px solid gray;
}
.form-box{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}
.name{
    width: 100%;
    border: 1px solid black;
    padding: 1.5vh;
    outline: none;
    font-weight: 300;
}
.name::placeholder{
    color: gray;
}
.comment{
    width: 100%;
    border: 1px solid black;
    padding: 1.5vh;
    outline: none;
    font-weight: 300;
}
.comment::placeholder{
    height: fit-content;
    color: gray;
}
.comment::-webkit-scrollbar{
    display: none;
}
.button-container{
    display: flex;
    column-gap: 2vw;
    width: 100%;
    justify-content: flex-end;
}
.button-container .publish{
    height: fit-content;
    width: fit-content;
    background-color:mediumslateblue;
    padding: 1vh 1.5vh;
    color: white;
    cursor:pointer;
}
.button-container .publish:hover{
    background-color: chocolate;
}
.button-container .cancel{
    height: fit-content;
    width: fit-content;
    padding: 1vh 1.5vh;
    cursor:pointer;
}
.button-container .cancel:hover{
    color:mediumslateblue;
    cursor:pointer;
}
